<footer class="site-footer h-card">
  <data class="u-url" href="/notebooks/"></data>

  <div class="wrapper">
    <div class="social-links"><ul class="social-media-list"><li><a rel="me" href="https://www.linkedin.com/in/egemenzeytinci" target="_blank" title="egemenzeytinci"><svg class="svg-icon grey"><use xlink:href="/notebooks/assets/minima-social-icons.svg#linkedin"></use></svg></a></li><li><a rel="me" href="https://github.com/egemenzeytinci" target="_blank" title="egemenzeytinci"><svg class="svg-icon grey"><use xlink:href="/notebooks/assets/minima-social-icons.svg#github"></use></svg></a></li><li><a rel="me" href="https://stackoverflow.com/users/8205554/e-zeytinci" target="_blank" title="egemenzeytinci"><svg class="svg-icon grey"><use xlink:href="/notebooks/assets/minima-social-icons.svg#stackoverflow"></use></svg></a></li></ul>
</div>

  </div>

</footer>